{% extends 'base.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create Event</h6>
        </div>
        <div class="card-body">
            <form action="{% url 'qreventmanager_create' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control form-control-sm" name="title" id="" aria-describedby="helpId" placeholder=""
                        required>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea class="form-control form-control-sm" name="description" id="" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="">Status</label>
                    <select class="form-control form-control-sm" name="status" id="" required>
                        <option value="created">Created</option>
                        <option value="active">Active</option>
                        <option value="disabled">Disabled</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Diabled Description</label>
                    <input type="text" class="form-control form-control-sm" name="disableddesc" id="" aria-describedby="helpId"
                        placeholder="" required>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}