{% extends 'base.html' %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">



  <a href="{% url 'qreventmanager_create' %}" class="btn btn-primary">+ New Event</a>
  <br>
  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Events</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Title</th>
              <th>Description</th>
              <th>status</th>
              <th>Diasbaled Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Sr.No</th>
              <th>Title</th>
              <th>Description</th>
              <th>status</th>
              <th>Diasbaled Description</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for qrevent in qrevents%}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{qrevent.title}}</td>
              <td>{{qrevent.description}}</td>
              <td>{{qrevent.status}}</td>
              <td>{{qrevent.disabledesc}}</td>
              <td>
                <div class="btn-group-vertical btn-group-sm">
                  <a class="btn btn-sm btn-warning" href="{% url 'qreventmanager_edit' id=qrevent.id %}">Edit</a>
                  <a class="btn btn-sm btn-danger" href="{% url 'qreventmanager_delete' id=qrevent.id %}">Delete</a>
                  <a class="btn btn-sm btn-success" href="{% url 'qrevent_createform' id=qrevent.id %}">Create Form</a>
                  <a class="btn btn-sm btn-primary" href="{% url 'qreventmanager_entries' id=qrevent.id %}">View
                    Entries</a>
                  <a class="btn btn-sm btn-secondary" target="_blank" href="{% url 'qrevent_client' id=qrevent.id %}">View Form</a>
                  <a class="btn btn-sm btn-info" href="{% url 'qreventmanager_dwn' id=qrevent.id %}">VIew QR</a></div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
<!-- /.container-fluid -->
{% endblock %}
